h1{
    font-family: Arial;
    font-size: 54pt;
    color: rgb(26, 14, 85);
    text-decoration: underline;
    text-shadow: -1px 3px 2px;
    text-align: center;
}
body {
    background-color: rgb(147, 182, 238);
}
img {
    max-width: 35%;
    height: auto;
    border: 4px solid darkblue;
    padding: 4px;
}